<div class="container">
  <div class="page-header">
    <H1>Projects</H1>
  </div>
  <div class="page-content">
    <ul class="projects">
      <li>
          <h2>Task Tracker</h2>
          <p class="product-description">Keep your tasks on track and organized!</p>
          <p class="product-description"><strong>Technologies: </strong>Angular, Spring Boot and MySQL.</p>
      </li>
      <li>
          <h2>Product Register</h2>
          <p class="product-description">Easy products register to create, list, update and delete items.</p>
          <p class="product-description"><strong>Technologies: </strong>JSP, Bootstrap, Java EE, JDBC and MySQL.</p>
      </li>
  </ul>
  </div>
</div>
