<div class="container">
  <div class="page-header">
    <H1>Contact</H1>
  </div>
  <div class="page-content">
    <p>Don't hesitate to use this form below for reaching me out for any questions, comments, or even to say hi! :)
      testing
    </p>
    <form ngNoForm action="https://formsubmit.co/ee9c781b0f27870ecc2b606aa5cf1adb" method="POST">
      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_next" value="https://guireis.net/thank-you">

      <div class="mb-3">
        <label for="name" class="form-label">Name*</label>
        <input type="text" class="form-control" name="name" placeholder="Please, insert your name here!" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email*</label>
        <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" name="phone" placeholder="(xxx) xxx-xxxx">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Message*</label>
        <textarea class="form-control" name="content" rows="5" placeholder="Type your message here" required></textarea>
      </div>
      <button  type="submit" class="btn btn-secondary">Send</button>
    </form>
  </div>
</div>

