<div class="col">
  <div class="card">
    <h5 class="card-header">{{message.name}}</h5>
    <div class="card-body">
      <div>
        <h6><strong>Email</strong></h6>
        <p>{{message.email}}</p>
        <h6><strong>Phone</strong></h6>
        <p>{{message.phone}}</p>
        <h6><strong>Message</strong></h6>
        <p>{{message.content}}</p>
        <div class="actions">
          <button class="edit" routerLink="#"><i class="fa-solid fa-pencil"></i></button>
          <button class="delete" routerLink="#"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
