<header>
  <div class="container">
    <div class="d-flex justify-content-between">
      <a routerLink="/home"><img src="../../../assets/images/Logo.png" alt="Gui Reis logo"></a>
      <nav class="nav">
        <ul class="items">
          <li class="nav-link"><a routerLink="/projects">Projects</a></li>
          <li class="nav-link"><a routerLink="/resume">Resume</a></li>
          <li class="nav-link"><a routerLink="/contact">Contact</a></li>
          <li class="nav-link"><a href="https://www.linkedin.com/in/guidosreis/" target="_blank"><i class="fa-brands fa-linkedin nox"></i></a></li>
          <li class="nav-link"><a href="https://github.com/Guilhermefelipedosreis" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
