<header>
  <div class="container">
    <div class="d-flex justify-content-between">
      <a><img src="../../../assets/images/Logo.png" alt="Gui Reis logo"></a>
      <nav class="nav">
        <ul class="items">
          <li class="nav-link"><a routerLink="/about">About</a></li>
          <li class="nav-link"><a routerLink="/projects">Projects</a></li>
          <li class="nav-link"><a routerLink="/resume">Resumé</a></li>
          <li class="nav-link"><a href="https://www.linkedin.com/in/guidosreis/"><i class="fa-brands fa-linkedin nox"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
