<div class="container">
  <div class="page-header">
    <H1>About</H1>
  </div>
  <div class="page-content">
      <img class="img-picture" src="../../../../assets/images/gui_image.png" alt="Guilherme picture">
      <p class="text">"Hi! My name is Guilherme Reis and I am an enthusiastic and eager web developer
        seeking opportunities to turn my passion into a career. With a strong foundation in the full stack cycle,
         I am ready to tackle new challenges and grow my skillset. My desire to learn and stay up-to-date with the
         latest web development technologies has led me to complete several online courses and personal projects.
         I am a quick learner, a strong problem solver, and a team player. I am confident that my positive attitude,
         strong work ethic, and drive to succeed will make me a valuable asset to any organization looking for a web developer."</p>
  </div>
</div>
